2011_Data_Dictionary.xlsx
2011_Female&Male_Dictionary.xlsx
CAN_06_CT_AGE.csv
CAN_06_CT_EDU.csv
CAN_06_CT_ETH.csv
CAN_06_CT_FN.csv
CAN_06_CT_IMMI.csv
CAN_06_CT_INC.csv
CAN_06_CT_MFH.csv
CAN_11_CT_AGE.csv
CAN_11_CT_EDU.csv
CAN_11_CT_IMMI.csv
CAN_11_CT_LANG.csv
CAN_11_CT_MFH.csv
CAN_11_CT_MOB.csv
